<header *ngIf="!eventDetail">
  <h1>
    Event List 2018
  </h1>
</header>

<div *ngIf="eventDetail != null">
  <button (click)="backToList()" mat-button> < </button>
</div>

<main class="component-container" *ngIf="!eventDetail">
  <mat-card *ngFor="let event of events"  (click)="getEventDetail(event)">
    <mat-card-title>
      <h2>{{event.organizer}}</h2>
    </mat-card-title>
    <mat-card-subtitle>
      <h3>
        Date: {{event.date}}
      </h3>
    </mat-card-subtitle>
    <h3>Location: {{event.location}}</h3>
    <img src="{{urlBE + event.field_image}}" alt="The Wall">
  </mat-card>
</main>
<app-event-detail [eventDetail]="eventDetail"></app-event-detail>
