app-event-list{
  button{
    background: #ffffff;
    font: {
      size: 1.5em;
    };
  }
}


mat-card{
  max-width: 600px;
  margin:{
    bottom: 20px;
  }

  img{
    max-width: 400px;
    width: 100%;
    height: auto;
  }

}
