<div *ngIf="eventDetail$ | async as eventDetail">
  <a (click)="backToEventList()">
    <mat-icon>
      keyboard_arrow_left
    </mat-icon>
  </a>

  <header>
    <h1>
      {{eventDetail.organizer}} concert - {{eventDetail.date}}
    </h1>
  </header>

  <main class="component-container">
    <mat-card>
      <mat-card-title>
        <h2>{{eventDetail.organizer}}</h2>
      </mat-card-title>
      <mat-card-subtitle>
        <h3>
          Date: {{eventDetail.date}}
        </h3>
      </mat-card-subtitle>
      <h3>Location: {{eventDetail.location}}</h3>
      <img src="{{urlBE + eventDetail.image}}" alt="The Wall">
    </mat-card>
  </main>

</div>
