app-event-detail{

  h2{
    flex-direction: row;
    display: flex;
    justify-items: flex-start;

    .mat-icon{
      font-size: 1.3em;
      margin: {
        right: 10px;
      };
    }
  }

  div{
    &.component{
      &-container{
        display: flex;
        width: 100%;
        height: auto;
        margin:{
          top: 20px;
          bottom: 20px;
        }

        mat-card{
          width: 100%;
          img{
            width: 100%;
            min-width: 640px;
            height: auto;
          }
        }
      }
    }
  }
}
