<header *ngIf="!eventDetail">
  <h1>
    Event List 2018
  </h1>
</header>

<main class="component-container" *ngIf="!eventDetail">
  <a routerLink="/event/{{event.id}}" *ngFor="let event of events" >
    <mat-card  (click)="getEventDetail(event)">
      <mat-card-title>
        <h2>{{event.organizer}}</h2>
      </mat-card-title>
      <mat-card-subtitle>
        <h3>
          Date: {{event.date}}
        </h3>
      </mat-card-subtitle>
      <h3>Location: {{event.location}}</h3>
      <img src="{{urlBE + event.image}}" alt="The Wall">
    </mat-card>
  </a>
</main>


