app-event-list {

  main {

    &.component {

      &-container {

        a {

          mat-card {
            max-width: 860px;
            margin: {
              bottom: 20px;
            }

            img {
              max-width: 400px;
              width: 100%;
              height: auto;

              &.visible {
                opacity: 1.0 ;
              }
            }

            h2, h3 {

            }
          }
        }
      }
    }
  }
}


