
<main class="component-container" *ngIf="!eventDetail">
  <a routerLink="/event/{{event.id}}" *ngFor="let event of events" >
    <mat-card  (click)="getEventDetail(event)">
      <mat-card-title>
        <h2>{{event.organizer}}</h2>
      </mat-card-title>
      <mat-card-subtitle>
        <h3>
          Date: {{event.date}}
        </h3>
      </mat-card-subtitle>
      <h3>Location: {{event.location}}</h3>
      <!--<img src="{{urlBE + event.image}}" alt="The Wall">-->
      <img [appLazySrc]="urlBE + event.image" lazySrcVisible="visible" class="" alt="{{ event.organizer }}"/>
    </mat-card>
  </a>
</main>


