app-event-list {

  section {

    &.component {

      &-container {
        //display: flex;
        //flex-direction: row;

        a {

          mat-card {
            max-width: 100%;
            margin: {
              bottom: 20px;
            }

            img {
              max-width: 400px;
              width: 100%;
              height: auto;

              &.visible {
                opacity: 1.0 ;
              }
            }

            h2, h3 {

            }
          }
        }
      }
    }
  }
}
