app-event-detail,
app-event-list{

  main{

    &.component{

      &-container{

        a{
          text-decoration: none !important;

          h2, h3{
            color: #000;
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
